body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #41aea9
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 90px;


}

h2 {
  font-family: 'Montserrat', sans-serif;

}

h3 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-height: 10px;
  border-width: 5px;
  height: 0px;
  width: 5%;}

.top-container {
  background-color: #e8ffff;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
}

.top-cloud1 {
  position: relative;
  left: 200px;
}

.andrew {
  width: 200px;
  height: 200px;
}

.dancing {
  width: 300px;
  height: 200px;
}

.work-together {
  width: 300px;
  height: 200px;
}
